<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carbase Home</title>
    <style>
        body
        {
            background-image: url('/img/background.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;

        }
    </style>
</head>
<body>
<h1>Welcome to Carbase</h1>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <p>Hello, <span th:text="${#authentication.name}">user</span>!</p>
    <a href="/vehicles">Vehicles</a><br>
    <a href="/drivers">Drivers</a><br>
    <a href="/cargo">Cargo Requests</a><br>
    <a href="/routes">Routes</a><br>
    <a href="/stats">Statistics</a><br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>

<div th:unless="${#authorization.expression('isAuthenticated()')}">
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
</div>

<p style="position: fixed; top: 10px; right: 10px; font-size: 24px; color: darkblue;">
    Logged in as: <span th:text="${#authentication.name}">user</span>
</p>
</body>
</html>
