<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Base - Main</title>
    <style>
        body
        {
            background-image: url('/img/background.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;

        }
    </style>
</head>
<body>
<h1>Welcome to the car base</h1>
<ul>
    <li><a th:href="@{/drivers}">Drivers</a></li>
    <li><a th:href="@{/vehicles}">Vehicles</a></li>
    <li><a th:href="@{/cargo}">Cargo</a></li>
    <li><a th:href="@{/routes}">Routes</a></li>
    <li><a th:href="@{/stats}">Stats</a></li>
</ul>
</body>
</html>
